@use 'sass:map';

.sponsor {
	@include display-flex($align: center, $justify: center, $gap: 15px);
	width: 100%;
	height: max-content;
	min-height: 220px;
	padding: 2rem map.get($dimens, 'container', 'padding-x');
	background-color: get-color('dark', 0.1);
}
