@use 'sass:map';
@use 'sass:math';

.temporary {
	display: block;
	height: max-content;
	padding: 2rem map.get($dimens, 'container', 'padding-x');
	background-color: get-color('primary');
	color: #ffffff;

	&-header {
		@include display-flex($align: center, $justify: space-between);
		width: 100%;
		height: fit-content;
		margin-bottom: 2rem;

		&-title {
			@include display-flex($align: center, $gap: 30px);
		}

		&-countdown {
			@include display-flex($align: center, $gap: 15px);

			.clock {
				@include display-flex(
					$align: center,
					$justify: space-between,
					$gap: 5px
				);

				span {
					@include display-flex($align: center, $justify: center);
					width: 30px;
					height: fit-content;
					background-color: #fbe5e4;
					border-radius: math.div(map.get($dimens, 'base', 'border-radius'), 2);
					color: get-color('danger');
				}
			}
		}

		a {
			color: #ffffff;
		}
	}

	&-product {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		gap: 15px;

		.product {
			display: block;
			width: auto;
			height: max-content;
			min-height: 300px;
			background-color: #ffffff;
			border-radius: map.get($dimens, 'base', 'border-radius');
			color: get-color('dark');

			.product-image {
				@include display-flex($align: center, $justify: center);
				width: 100%;
				height: 220px;
				background-color: get-color('dark', 0.1);
				overflow: hidden;
			}

			.product-caption,
			.product-header {
				padding: 0rem 1rem;
			}
			.product-caption {
				@include display-flex($align: center, $gap: 10px);

				del {
					color: get-color('dark', 0.5);
				}
			}

			.product-header {
				padding-top: 0.8rem;
				padding-bottom: 0.3rem;
				font-weight: bold;
			}
		}
	}
}
